* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #009545;
}
/* #0f172a */
.logo {
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 60px 8%;
    background: #f8fafc;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}

/* Services */

.services {
    padding: 60px 8%;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* About */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 60px 8%;
    background: #f1f5f9;
}

.about img {
    width: 100%;
    border-radius: 10px;
}

/* Stats */

.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 8%;
}

.stat-box {
    text-align: center;
}

.stat-box h3 {
    font-size: 2rem;
    color: #2563eb;
}

/* Footer */

footer {
    background: #009545;
    color: white;
    text-align: center;
    padding: 40px;
}

footer h2 {
    margin-bottom: 15px;
}

/* Responsive */

@media (max-width: 768px) {

    .hero,
    .about {
        grid-template-columns: 1fr;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    .stats {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}